<%= form_for @traveling_party do |f| %>

<!-- Traveling Party Fields -->

<% ration_scale = [0, 1, 2, 3] %>
<% speed_scale = [0, 10, 20, 30] %>

<div class="form-field">
	<%= f.label :speed, "Speed (miles/day)" %>
	<%= f.select(:speed, speed_scale) %>
</div>

<div class="form-field">
	<%= f.label :ration, "Rations (meals/day)" %>
	<%= f.select(:ration, ration_scale) %>
</div>

<%= f.hidden_field(:position, :value => 0) %>
<%= f.hidden_field(:capacity, :value => 100) %>

<!-- Leader Fields -->

<%= f.fields_for :leader do |builder| %>
<%= render "traveler", {:f => builder, :is_leader => true} %>
<% end %>

<!-- Follower Fields -->

<%= f.fields_for :followers do |builder| %>
<%= render "traveler", {:f => builder, :is_leader => false} %>
<% end %>

<!-- Submit Button -->

<%= f.submit %>

<% end %>
