<div id="new_traveler">

	<div class="form-field">

		<% if is_leader %>
		<%= f.label :name, "Leader" %>
		<%= f.text_field(:name, value: @user.first_name) %>
		<% professions = ['Farmer', 'Banker', 'Carpenter'] %>
		<%= f.label :profession %>
		<%= f.select(:profession, professions) %>
		<% else %>
		<%= f.label :name, "Follower" %>
		<%= f.text_field(:name) %>
		<%= f.hidden_field(:profession, :value => nil) %>
		<% end %>

	</div>

</div>
