<!DOCTYPE html>
<html>
<head>
	<title>Project</title>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag params[:controller] %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag params[:controller] %>
	<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="wrapper">

		<div id="flash">
			<%- flash.each do |key, msg| -%>
			<div class="<%= key %>">
				<p><%= msg %></p>
			</div>
			<%- end -%>
		</div>

		<%= yield %>

	</div>

</body>
</html>
