<h1>Welcome to Oregon Trail</h1>

<% if @user %>

	<% if @user.traveling_parties.count > 0 %>
	<h2>Your Games:</h2>
	<% @user.traveling_parties.each do |t| %>
		<p>
			<%= t.leader.name %>
			<% t.followers.each do |f| %>
				+ <%= f.name %>
			<% end %>
			(<%= t.position %> mi) |
			<%= link_to "Play", t %> |
			<%= link_to 'Destroy', t, confirm: 'Are you sure you want to delete this game?', method: "delete" %>
		</p>
	<% end %>
	<br/>
	<% end %>

	<a class="button" href="new/">New Game</a>

<% else %>

	<a href="/auth/facebook" id="connect-with-facebook" target="_new">
		Connect with Facebook
	</a>

<% end %>
