<h1>Purchase Items at the Store</h1>

<!-- Traveling Party Form -->

<%= form_for @traveling_party do |f| %>

<!-- Weight & Capacity -->

<p>You have <span id="cur_weight"><%= @traveling_party.capacity %></span> lbs free</p>
<p>You have $<span id="cur_money"><%= @traveling_party.money %></span></p>

<br/><br/>

<%= f.hidden_field(:store_id, :value => @trader.id) %>

<%= f.hidden_field(:money, :value => @traveling_party.money) %>

<table>

	<tr>
		<th>Item name</th>
		<th>Weight</th>
		<th>Price</th>
		<th>Stock</th>
		<th>Quantity</th>
	</tr>

	<!-- Items -->

	<% @trader.inventory.each_pair do |k,i| %>
	<tr class="item">
		<td class="name"><%= label(:name, k) %></td>
		<td class="weight"><%= label(:weight, k.constantize.weight) %></td>
		<td class="value"><%= label(:value, k.constantize.value * @trader.market_value) %></td>
		<td class="stock"><%= label(:stock, i.size) %></td>
		<td class="quantity"><%= f.number_field(k, :value => 0, :min => 0, :max => i.size) %></td>
	</tr>
	<% end %>

</table>

<br/><br/>

<div id="move-on">
	<p><%= f.submit 'Purchase Items' %> <a class="button" href="/play">Cancel</p>
</div>

<% end %>

