<% at_location = false %>
<% if @traveling_party.position == @location.position then at_location = true end %>

<% if at_location %>
	<p>You are at <%= @location.name %></p>
<% else %>
	<p><%= "Next Location is #{@location.name}, #{@location.position - @traveling_party.position} miles away." %></p>
<% end %>

<p><%= "Distance traveled: #{@traveling_party.position}" %></p>

<% food = @traveling_party.inventory["Food"] %>
<p><%= "Food remaining: #{food.nil? ? 0 : food.size}" %></p>

<p>Money remaining: $<%= @traveling_party.money %></p>

<%= form_for @traveling_party, {:url => "/move"} do |f| %>

<% ration_scale = [0, 1, 2, 3] %>
<% speed_scale = [0, 10, 20, 30] %>

<div class="form-field">
	<%= f.label :speed, "Speed (miles/day)" %>
	<%= f.select(:speed, speed_scale) %>
</div>

<div class="form-field">
	<%= f.label :ration, "Rations (meals/day)" %>
	<%= f.select(:ration, ration_scale) %>
</div>

<%= f.hidden_field(:id, :value => @traveling_party.id) %>
<%= f.hidden_field(:capacity, :value => 100) %>

<!-- Submit Button -->

<%= f.submit "Move" %>

<% end %>

<p><a href="/map" target="new">View Map</a></p>

<% @traders.each do |t| %>
	<% if t.type == 'Store' %>
	<p><a href="/store/<%= t.id %>">Shop at the <%= @location.name %> store</a></p>
	<% else %>
	<p><a href="/store/<%= t.id %>">Shop with <%= t.leader.name %> and company</a></p>
	<% end %>
<% end %>